
{% load static %}
<!DOCTYPE html>
<html>
    <html>
<head>
    <title>My Property</title>
    <h1>My Property</h1>
</head>
    <body>
        {% block content %}
        {{property_list}}
        {% endblock %}

    </body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>View Property</title>
    <link rel="stylesheet" href="{% static 'css/view.css' %}" type="text/css" media="all" />
    <style>
        th,td{
        border: 1px black solid;
        }
    </style>
</head>
<body>
 <!-- <h1>Property Page</h1> -->
{% if prop %}
 <h2>Properties</h2>
 <!-- <h3>{{prop}}</h3> -->
 <table>
     <tr>
         <th>Name</th>
         <th>Description</th>
         <th>City</th>
         <th>Address</th>
         <th>Price</th>
         <th>Owner Name</th>
         <th>Contact Number</th>
     </tr>
 <tr>
     {% for pr in prop %}
     <td>{{pr.property_name}}</td>
     <td>{{pr.property_desc}}</td>
     <td>{{pr.property_city}}</td>
     <td>{{pr.property_address}}</td>
     <td>{{pr.property_price}}</td>
     <td>{{pr.property_owner}}</td>
     <td>{{pr.property_contact}}</td>
     <td><button style="background-color:green;">
        <a
          href="{% url 'update_property' pr.id %}"
          class="btn btn-secondary btn-sm"
          >Edit</a></button>
    </td>
    <td><button style="background-color:green;">
        <a
        href="{% url 'delete_property_url' pr.id %}"
          class="btn btn-secondary btn-sm"
          >Delete</a></button>
      </td>
 </tr>
     {% endfor %}

</table>

{% else %}
 <h1>No Data</h1>
{% endif %}
<button style="background-color:green;">
    <a href="{% url 'userhome' %}"
     class="btn btn-secondary btn-sm"
      >Back</a></button>
</body>
</html>


