{% load static %}
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

<title>OWNER HOME</title>
</head>
<body>
  <H2>Prosello </H2> 
  <H3>Property Management System</H3>
  <br>
  <H4> OWNER PAGE </H4>
  
  <p><a class="nav-link" href="{% url 'logout' %}">Logout</a></p>
  <div class = "center">

    <form method="post" action="{% url 'view_property_owner' %}">
    {% csrf_token%}
    <button class="button view_property" type="submit">VIEW PROPERTY</button>
    </form>
</div>
</body>
</html>